@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700|Oswald:300,400,500');
/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */
img {
  max-width: 100%;
  margin: 0 auto;
}
p {
  font-family: 'Merriweather', serif;
  font-weight: 300;
}
h1, h2, h3, h4, h5 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
h1 {
    color: #086329;
}
ul {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 20px;
}
body {
  background-color: #313E4D;
  color: #313E4D;
}

/* ----------------------------------------
Grid Systems
------------------------------------------- */
.col-1 {
  flex-basis: 100%;
}
.col-1-2 {
  flex-basis: 48%;
}
.col-2-3 {
  flex-basis: 65%;
}
.col-1-3 {
  flex-basis: 32%;
}
.col-1-4 {
  flex-basis: 24%;
}
.res-row-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* ----------------------------------------
Nav
------------------------------------------- */
nav li {
  display: inline-block;
  margin: 20px;
}
nav {
  background-color: #8BA69B;
  position: fixed;
  width: 100%;
}
nav li a {
  color: #313E4D;
  text-decoration: none;
}
nav li a:hover {
  color: #E0EEC6;
}
nav ul {
  text-align: center;
}
/* ----------------------------------------
header-img
------------------------------------------- */
.header-img {
  background-image: url(../img/home.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 200px;
}
.header-img img {
  margin-left: 190px;
}

/* ----------------------------------------
Image Carousel
------------------------------------------- */
button {
	border: none;
	font-size: .9rem;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	padding: 8px 15px;
	margin: 0 10px;
}
#carousel-img {
	margin: 0 auto;
	max-width: 800px;
	display: none;
}

#carousel-img:first-of-type {
	display: block;
}

/* ----------------------------------------
Home
------------------------------------------- */
.home-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #F3F3F3;
  padding: 50px;
}
#home {
  padding: 100px;
}
#home h1 a {
  color: #086329;
  text-align: center;
  font-size: 42px;
  margin-left: 18px;
}
#home h1 a:hover {

}
.contact-button {
  text-transform: uppercase;
  font-size: 16px;
  padding: 15px 25px 15px 25px;
  margin-top: 10px;
  transition-duration: 0.25s;
  color: #086329;
  border: 3px solid #086329;
}
.contact-button:hover {
  background-color: #086329;
  color: white;
  cursor:pointer;
}
/* The Modal (background) */
.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
   background-color: #fefefe;
   margin: 15% auto; /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}
.close:hover,
.close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}
form {
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  letter-spacing: .02em;
  text-align: center;
  color: #44545E;
  padding: 50px;
  width: 100%;
  margin: 0 auto;
}
input, textarea {
 display: block;
 font-family: 'Oswald', sans-serif;
 text-transform: uppercase;
 padding: 8px 25.5px;
 text-align: center;
 margin-bottom: 10px;
 border: #44545E;
 width: 100%;
 font-size: 18px;
}
.form-button {
 background-color: #2C4829;
 color: white;
 font-family: 'Oswald', sans-serif;
 text-transform: uppercase;
 padding: 5px 250px 5px 250px;
 text-align: center;
 margin-top: 10px;
 width: 100%;
 font-size: 18px;
}
.form-button:hover {
 color: #2C4829;
 background-color: white;
 border: 2px solid #2C4829;
 font-family: 'Oswald', sans-serif;
 text-transform: uppercase;
 padding: 5px 250px 5px 250px;
 transition: 0.25s;
 cursor:pointer;
}
/* ----------------------------------------
Residency
------------------------------------------- */
.residency-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #F3F3F3;
  padding: 50px;
}
#residency {
  padding: 100px;
}
/* ----------------------------------------
Directions
------------------------------------------- */
.directions-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #F3F3F3;
  padding: 10px;
}
#directions {
  padding: 90px;
}
/* ----------------------------------------
Additional
------------------------------------------- */
#additional {
  padding: 100px;
}
.additional-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #F3F3F3;
  padding: 50px;
}
.italics {
  font-style: italic;
  color: #086329;
  font-weight: 400;
}
/* ----------------------------------------
Nearby
------------------------------------------- */
.nearby {
  text-align: center;
}
/* ----------------------------------------
Footer
------------------------------------------- */
.info-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #313D31;
}
.info-footer a {
  color: #313D31;
  text-decoration: none;
}
footer {
  padding: 50px;
  text-align: center;
  background-color: #849E90;
}
footer p {
  color: #313D31;
}
footer p a {
  color: #313D31;
}
footer p a:hover {
  color: #E0EEC6;
}
footer a:hover {
  color: #E0EEC6;
}
